.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: url('/images/pexels-asad-photo-maldives-1430677.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1rem;
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 800px;
}

.blogEntry {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 2rem;
  max-width: 800px;
  width: 100%;
}

.entryTitle {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.entryContent {
  text-align: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.commentsTitle {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.comments {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.commentForm {
  display: flex;
  flex-direction: column;
}

.commentForm textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.commentForm button {
  background-color: #0070f3;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
